---
layout: layouts/home.njk
---

<section class="wrapper style1 align-center">
	<div class="inner">
		<h2>Nuestro código fuente</h2>
		<p>Queremos que el esfuerzo de tu equipo proporcione el máximo valor para el proyecto y para tus usuarios, por ello te ayudamos a gestionar la infraestructura y los servicios cloud para conseguir que se conviertan en tu principal aliado.</p>
		<div class="items style3 small">
			{%- for item in home.principles %}
			<section>
				<i class="icon solid style2 major fa-{{ item.fa }}"></i>
				<h3>{{ item.title }}</h3>
				<p>{{ item.text }}</p>
			</section>
			{% endfor -%}
		</div>
	</div>
</section>

{%- for spotlight in collections.spotlight %}
<section class="spotlight style2 orient-{{ spotlight.data.orientation }} content-align-left image-position-center onscroll-content-fade-left" id="first">
	<div class="content">
		<h2>{{ spotlight.data.title }}</h2>
		<p>{{ spotlight.data.description | safe }}</p>
		<ul class="actions stacked">
			<li><a href="{{ spotlight.data.permalink }}" class="button primary small">SABER MÁS</a></li>
		</ul>
	</div>
	<div class="image">
		<img src="images/{{ spotlight.data.image }}.jpg" alt="" />
	</div>
</section>
{% endfor -%}


<section class="wrapper style1 align-center" id="projects">
	<div class="inner">
		<h2>Algunos de nuestros proyectos</h2>
		<p>Hemos trabajado con los <b>líderes de diferentes sectores</b> como educacion, banca, deporte, ONGs, salud o energía y también con diferentes administraciones públicas, ayudando a desarrollar <b>soluciones de arquitectura de software, big data y administración de infraestructuras digitales</b>.</p>
	</div>

		
		<div class="gallery style1 medium lightbox">		
			{%- for project in collections.project %}
			<article>
				<a href="{{ project.data.permalink }}" class="image">
					<img src="images/gallery/fulls/{{ project.data.image }}" alt="" />
				</a>
				<div class="caption invert">
					<h3>{{ project.data.title }}</h3>
					<p>{{ project.data.description }}</p>
					<ul class="actions fixed">
						<li><span class="button small">Más</span></li>
					</ul>
				</div>
			</article>
			{% endfor -%}
		</div>

</section>
