---
layout: layouts/home.njk
---

<section class="wrapper style1 align-center">
	<div class="inner">
		<h2>Nuestro código fuente</h2>
		<h4>Queremos que el esfuerzo de tu equipo proporcione el máximo valor para el proyecto y para tus usuarios, por ello te ayudamos a gestionar la infraestructura y los servicios cloud para conseguir que se conviertan en tu principal aliado.</h4>
		<div class="items style3 small">
			{%- for item in home.principles %}
			<section>
				<i class="icon solid style2 major fa-{{ item.fa }}"></i>
				<h3>{{ item.title }}</h3>
				<h4>{{ item.text }}</h4>
			</section>
			{% endfor -%}
		</div>
	</div>
</section>

{%- for spotlight in collections.spotlight %}
<section class="spotlight style2 orient-{{ spotlight.data.orientation }} content-align-left image-position-center" id="first">
	<div class="content">
		<h3>{{ spotlight.data.title }}</h3>
		<h5>{{ spotlight.data.description | safe }}</h5>
		<ul class="actions stacked">
			<li><a href="{{ spotlight.data.permalink }}" class="button primary small">SABER MÁS</a></li>
		</ul>
	</div>
	<div class="image">
		<img alt="imagen descriptiva" src="images/{{ spotlight.data.image }}.png" alt="" />
	</div>
</section>
{% endfor -%}
