---
title: Fricolab - Arquitectos de Nubes
---

<!DOCTYPE HTML>

<html lang="es">
	<head>
		<title>{{ title or metadata.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ metadata.url }}" />
		<meta property="og:title" content="{{ metadata.title }}" />
		<meta property="og:description" content="{{ metadata.description }}" />
		<meta property="og:image" content="{{ metadata.url }}images/logo_alt.png" />
		<meta name="google-site-verification" content="Mw_RsimrQbPH6AqapBVpWlJxCpxeVlVS3ti8HRrIPds" />
		<meta name="description" content="{{ metadata.description }}">
		
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-8YWHYQD5B4');
		</script>

		<link rel="preload" as="style" href={{ '/webfonts/fontawesome-all.min.css' | url }} onload="this.rel='stylesheet'">
		<link rel="preload" href={{ '/webfonts/fa-regular-400.woff2' | url }} as="font" type="font/woff2" crossorigin>
		<link rel="preload" href={{ '/webfonts/fa-brands-400.woff2' | url }} as="font" type="font/woff2" crossorigin>
		<link rel="preload" href={{ '/webfonts/fa-solid-900.woff2' | url }} as="font" type="font/woff2" crossorigin>

		<link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | url }}?{{ cacheBust.mainCss }}" />
	  
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-8YWHYQD5B4"></script>
	</head>

	{{ content | safe }}

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a alt="Twitter link" href="https://twitter.com/FricolaB" ><span role="none" class="icon brands style2 fa-twitter"></span></a></li>
								<!-- <li><a alt="Linkedin link" href="https://www.linkedin.com/company/b_cultura" ><span class="icon brands style2 fa-linkedin-in"></span></a></li> -->
								<li><a alt="mail link" href="mailto:info@fricolab.com" ><span role="none" class="icon style2 fa-envelope"></span></a></li>
							</ul>
							<p>&copy; Fricolab. Made with &hearts; and Open Source. Aplicación Web: <a href="https://www.11ty.dev/">11ty</a>. Plantilla HTML: <a href="https://html5up.net">HTML5 UP</a>.</p>
							<p><a href="/aviso-legal.html">Aviso Legal</a></p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ 'assets/js/jquery.min.js' | url }}"></script>
			<script src="{{ 'assets/js/jquery.scrollex.min.js' | url }}"></script>
			<script src="{{ 'assets/js/jquery.scrolly.min.js' | url }}"></script>
			<script src="{{ 'assets/js/browser.min.js'| url }}"></script>
			<script src="{{ 'assets/js/breakpoints.min.js' | url }}"></script>
			<script src="{{ 'assets/js/util.js' | url }}"></script>
			<script src="{{ 'assets/js/main.js' | url}}"></script>
			<script src="{{ 'assets/main.js?' | url }}{{ cacheBust.mainCss }}"></script>
			<!-- Start of HubSpot Embed Code -->
			<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/140395993.js"></script>
			<!-- End of HubSpot Embed Code -->
			</script>
	</body>
</html>

