---
layout: layouts/base.njk
---

<body class="is-preload">


  <section class="wrapper style1">
  
    <div class="inner">
      <div class="index align-left">
        <h1>{{ title }}</h1>
        <section>
          <header>
          	<ul class="actions">
							<li><a href="/" class="button primary small">VOLVER</a></li>
						</ul>
          </header>
          <div class="content">
            {% if tags=="project" %}  
            <header>
              <p>{{ description | safe }}</p>
            </header>
            {% endif %}
            <span class="image right">
              {% if tags=="project" %}
              <img alt="icono descriptivo" src="{{ '/images/gallery/thumbs/' + image | url }}" />
              {% endif %}
              {% if tags=="spotlight" %}
              <img alt="imagen descriptiva" src="{{ '/images/' + image + '.png' | url }}" />
              {% endif %}
            </span>
            {{ content | safe }}
          </div>
        </section>
      </div>
    </div>
  </section>
