---
layout: layouts/base.njk
templateClass: tmpl-page
---

<body class="is-preload">


  <section class="wrapper style1">
  
    <div class="inner">
      <div class="index align-left">
        <h1>{{ title }}</h1>
        <section>
          <header>
          	<ul class="actions">
							<li><a href="/" class="button small primary">VOLVER</a></li>
						</ul>
          </header>
          <div class="content">
            <span class="image right">
              <img alt="imagen descriptiva" src="{{ '/images/' + image + '-cropped.png' | url }}" />
            </span>
            {{ content | safe }}
          </div>
        </section>
      </div>
    </div>
  </section>
